extends layout

block content
	section#main.container-fluid
		.row-fluid
			header
				.well
					h1 Welcome you!
		.row-fluid
			blockquote
				p
					| This is something profound that you will remember all your life!
					small
						| Said
						em  Someone famous
		.row-fluid
			section.body
				span.span8 fsfsf sf sf saf dsfd saf dsf safd fsda fs fsdfasa
				span.span4 53 52354 325 353425 3543 53 52 345 25 35 325435 345 2345
				textarea(rows=2).span9
				a.btn-large.btn-primary
					i.icon-comment-alt.icon-large
					span &nbsp;&nbsp;&nbsp;&nbsp;Send

		.row-fluid
			footer
				span.small @Sky dev team

